/*kutuların oldugu genel divin stili hizalanması*/
.purchase-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
/*her bir kutunun ortak stili*/
.purchase-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    padding: 0 0 6px 0;
}
/*kutu içindeki resimlerin oturtulması boyutlandırılması*/
.purchase-box img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
/*kutunun altındaki kısmın stili*/
.box-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(56, 56, 56);
}
/*kutu altındaki p taglerinin stili*/
.box-bottom p {
    font-size: 20px;
}
/*kutu altındaki span taglerinin stili*/
.box-bottom span {
    font-size: 12px;
    font-weight: 800;
}
/*üstü çizili span için del tagının stili*/
del {
    text-decoration: line-through;
    color: rgb(56, 56, 56);
    font-weight: bold;
}
/*iconun ve add to card yazısının oldugu genel divin stili*/
.icon{ 
    display: flex; 
    flex-direction: row; 
    justify-content:space-between; 
    align-items: center; 
    position: relative; 
} 
/*icon divinin içindeki ilk spanın solda olması için*/
.icon span:nth-child(1) { 
    position: absolute; 
    left: -50px; 
}
@media (max-width: 576px) {
    .purchase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .purchase-p{
        width: 75%;
        line-height: 1.4;
    }
    .trainer-box{
        width: 80%;        
    }
    /*purchase ile ilgili düzenlemeler*/
    .purchase-boxes {
        flex-direction: column;
    }
    .purchase-box {
        flex-direction: column;           
        width: 75%;
    }
}